@font-face {
    font-family: 'Montserrat-Black';
    src: url(../Maket_pizza/Font/.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../Maket_pizza/Font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../Maket_pizza/Font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../Maket_pizza/Font/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../Maket_pizza/Font/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url(../Maket_pizza/Font/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(Font/Montserrat-Medium.ttf);
}